.compound_container{
    width: 100vw;
    height: 100vh;
}

.pools_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:10px;
    align-items: center;
}

.single_pool {
    display: flex;
    flex-direction: column;
    width:80vw;
    height: 11vh;
    justify-content: space-evenly;
    border: 1px solid rgb(99, 204, 224);
    border-radius: 20px;
    margin:7px;
    background-color: rgb(99, 204, 224);
}

.farm_type{
    color:white;
    font-size:13px;
}

.row_items{
    display: flex;
    flex-direction: row;
}

.title_container {
    display: flex;
    flex: 1;
    justify-content:space-around;
}

.pool_name {
    white-space: nowrap;
    font-size: 17px;
    font-weight: bold;
    color:white;
}

.pair{
    display: flex;
}

.logofirst{
    width:50px;
    height: 50px;
    margin-right: -10px;
    border: 4px solid rgb(101, 166, 179);
    padding: 1px;
    border-radius: 999px;
}

.logo{
    width:50px;
    height: 50px;
    border: 4px solid rgb(101, 166, 179);
    padding: 1px;
    border-radius: 999px;
}

.pool_info{
    display: flex;
    flex:5;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > p {
    color:white;
}

.rewards {
    width:15px;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

